@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html{
  font-family: 'Inter', sans-serif !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.clickable-map .us-state-map * {
  cursor: pointer;
  pointer-events: all;
}

.clickable-map .us-state-map path:hover{
  opacity: 0.75;
  cursor: pointer;
}

[data-placeholder]{
  overflow: hidden;
  position: relative;
  background: rgb(235, 237, 240);
}

[data-placeholder]::after {
  content: " ";
  box-shadow: 0 0 50px 9px rgba(254,254,254);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%; 
  animation: load 1s infinite;
}

@keyframes load {
  0%{ left: -100%}
  100%{ left: 150%}
}

path {
  pointer-events: inherit;
}

pre, code {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

button, a {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

input, textarea, select {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity;
}