@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  font-family: 'Inter', sans-serif !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  --btn-shadow-hover: 0 3px 2px rgba(0,0,0,.07),0 7px 5px rgba(0,0,0,.04),0 12px 10px rgba(0,0,0,.03),0 22px 18px rgba(0,0,0,.03),0 42px 33px rgba(0,0,0,.02),0 100px 80px rgba(0,0,0,.02);
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.clickable-map .us-state-map * {
  cursor: pointer;
  pointer-events: all;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.clickable-map .us-state-map path:hover{
  opacity: 0.75;
  cursor: pointer;
}

[data-placeholder]{
  overflow: hidden;
  position: relative;
  background: rgb(235, 237, 240);
}

[data-placeholder]::after {
  content: " ";
  box-shadow: 0 0 50px 9px rgba(254,254,254);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%; 
  animation: load 1s infinite;
}

@keyframes load {
  0%{ left: -100%}
  100%{ left: 150%}
}

path {
  pointer-events: inherit;
}

pre, code {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

button, a {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity;
}

input, textarea, select {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity;
}

.btn .arrow-symbol,
.link .arrow-symbol {
  transition: transform .2s;
  transform: translateX(0);
}

.btn:focus .arrow-symbol,
.btn:hover .arrow-symbol,
.link:focus .arrow-symbol,
.link:hover .arrow-symbol {
  transform: translateX(4px);
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  transform-origin: 0px 0px;
}

.btn .arrow-symbol path,
.link .arrow-symbol path {
  /* stroke-width: 3px; */
}

.btn .arrow-symbol path:last-child,
.link .arrow-symbol path:last-child {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  transition: stroke-dashoffset .2s;
}

.btn:focus .arrow-symbol path:last-child,
.btn:hover .arrow-symbol path:last-child,
.link:focus .arrow-symbol path:last-child,
.link:hover .arrow-symbol path:last-child {
  stroke-dashoffset: 20;
}

.link:after, .link:before {
  position: absolute;
  bottom: -0.15em;
  left: 0;
  width: calc(100% - 1em);
  height: 2px;
  pointer-events: none;
  content: "";
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform .3s ease;
  transition-property: transform, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.link:hover:after, .link:hover:before{
  transform: scaleX(1);
}

.rc-slider-track {
  background-color: #059669;
}

.rc-slider-dot {
  background-color: #bebebe;
  border: 0px solid #34d399;
  display: none !important;
  opacity: 1;
}

.rc-slider-dot-active{
  background-color: #059669;
  border: 0px solid #059669;
}

.rc-slider-handle {
  background: #059669;
  border: solid 0px transparent;
  opacity: 1;
  width: 1.1rem;
  height: 1.1rem;
  margin-top: -0.4rem;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #059669;
  box-shadow: 0 0 0 5px #10b98164;
}
.rc-slider-handle:focus-visible {
  border-color: #059669;
  box-shadow: 0 0 0 3px #10b98164;
}
.rc-slider-handle-click-focused:focus {
  border-color: #10b981;
}
.rc-slider-handle:hover {
  border-color: #059669;
}
.rc-slider-handle:active {
  border-color: #059669;
  box-shadow: 0 0 5px #10b98164;
}
.rc-slider-mark{
  margin-top: 0.4rem;
}
.rc-slider-mark-text{
  font-size: 0.8rem;
}

.search-result-field{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -2px;
  display: block;
}

.search-result-field b {
  color: #059669;
  font-weight: 600;
  border-bottom-width: 2px;
  border-color: #0596689e;
}

.Toastify * {
  font-family: 'Inter', sans-serif !important;
  --toastify-color-success: #059669;
}

.Toastify__toast{
  border-radius: 0.4rem;
}

.Toastify__toast{
  padding: 1rem 0.75rem;
}

.Toastify__close-button{
  margin: auto 0;
}

.Toastify__close-button > svg {
  height: 1.0rem;
  width: 1.2rem;
}

.home .primary-btn{
  transition: box-shadow .2s;
}

.home .primary-btn:hover{
  box-shadow: var(--btn-shadow-hover);
}